div{
    height: 330px;
    width: 160px;
    border: 2px solid gray;
    background-color: beige;
    display: inline-block;   /*this is used to display the content in single line*/
}
.name{
    position: relative;/*this is used to cess the css positioning*/
    left: 20%;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
}
.container{
    height: 300px;
    border: 3px solid green;
    /* width: 300px; */
    display: flex;/*used to convert the div element into flex*/
    flex-direction: row;
}
.name{
    border: 2px solid black;
}